process {
    withLabel: big_mem {
        cpus = 8
        memory = 50.GB
        queue = 'long'
    }
}

process {
    withName:MARK_DUPLICATES_BWA {
	container = 'broadinstitute/gatk:latest'

    }
    
    withName:MARK_DUPLICATES_BOWTIE2 {
	container = 'broadinstitute/gatk:latest'

    }

    withName:FASTQC {
        container = 'staphb/fastqc:latest'
	}

    withName:MULTIQC {
        container = 'multiqc/multiqc:latest'
        }
    withName:CREATE_SEQUENCE_DICTIONARY {
        container = 'broadinstitute/gatk:latest'
        }
    withName:BCFTOOLS_CALL_VARIANTS_BOWTIE2 {
        container = 'staphb/bcftools:latest'
        }
    withName:BCFTOOLS_CALL_VARIANTS_BWA {
        container = 'staphb/bcftools:latest'
        }
    withName:FREEBAYES_CALL_VARIANTS_BWA {
        container = 'staphb/freebayes:latest'
        }
    withName:FREEBAYES_CALL_VARIANTS_BOWTIE2 {
        container = 'staphb/freebayes:latest'
        }
    withName:FILTER_VARIANTS_BWA_FREEBAYES {
        container = 'broadinstitute/gatk:latest'
        }
    withName:FILTER_VARIANTS_BOWTIE_FREEBAYES {
        container = 'broadinstitute/gatk:latest'
        }
    withName:FILTER_VARIANTS_BWA_BCFTOOLS {
        container = 'broadinstitute/gatk:latest'
        }
    withName:FILTER_VARIANTS_BOWTIE_BCFTOOLS {
        container = 'broadinstitute/gatk:latest'
        }
    



}
docker {
    enabled = true
}
